@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

body {
    font-family: 'Montserrat', sans-serif;
}

/*DEFAULT LOAD*/
.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: var(--index-modal);
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: var(--weight-bold);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid var(--hover-color-green);
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*DEFAULT PAGINATOR*/
.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-right: 0;
    color: #555555;
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition-duration: 0.2s;
}

.paginator a:first-of-type {
    -webkit-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    -moz-border-radius: var(--radius-normal) 0 0 var(--radius-normal);
    border-radius: var(--radius-normal) 0 0 var(--radius-normal);
}

.paginator a:last-of-type {
    border-right: 1px solid #cccccc;
    -webkit-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    -moz-border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
    border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
}

.paginator a:hover {
    background: var(--gradient-green);
    background-size: 200%;
    color: #FBFBFB;
}

.paginator span {
    background: #cccccc;
}

/*WYSH HTMLCHARS*/
.htmlchars {
    color: var(--color-default);
}

.htmlchars :first-child {
    margin-top: 0;
}

.htmlchars h2,
.htmlchars h3,
.htmlchars h4,
.htmlchars h5 {
    margin: 40px 0 20px 0;
    font-weight: var(--weight-bold);
}

.htmlchars h2 {
    font-size: 1.8em;
}

.htmlchars h3 {
    font-size: 1.6em;
}

.htmlchars h4 {
    font-size: 1.4em;
}

.htmlchars h5 {
    font-size: 1.2em;
}

.htmlchars p {
    margin-top: 25px;
}

.htmlchars ul,
.htmlchars ol {
    margin: 20px 0 20px 40px;
}

.htmlchars ul {
    list-style: circle;
}

.htmlchars ol li,
.htmlchars ul li {
    margin-top: 5px;
}

.htmlchars a {
    color: var(--color-green);
    font-weight: var(--weight-bold);
    text-decoration: none;
}

.htmlchars a:hover {
    text-decoration: underline;
}

.htmlchars img {
    margin-top: 30px;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
}

.htmlchars pre {
    padding: 20px;
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
    background: #EEEEEE;
    margin: 20px 0;
    overflow-x: auto;
}

/*SOCIAL SHARE*/
.social_share {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px;
    background: #FBFBFB;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    border-bottom: 3px solid var(--color-green);
}

.social_share_title {
    font-size: var(--font-normal);
    font-weight: var(--weight-normal);
}

.social_share_medias {
    display: flex;
}

.social_share_medias div {
    margin-right: 10px;
}

/*EMPTY CONTENT*/
.empty_content {
    width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    color: var(--color-default);
}

.empty_content_cover {
    width: 500px;
}

.empty_content_title {
    font-size: 2em;
    font-weight: var(--weight-bold);
}

.empty_content_desc {
    font-size: 1.1em;
    margin: 10px 0 40px 0;
}

.title_image {
    width: 300px;
    max-width: 100%;
    margin: 0 auto 30px auto;
}

.empty_content_btn {
    display: inline-block;
    padding: 20px 40px;
    font-weight: var(--weight-bold);
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.4em;
}

/* MAIN HEADER */
.main_header {
    padding: 15px 0;
    color: #ffffff;
}

.main_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*logo*/
.main_header_logo h1 a {
    font-weight: var(--weight-normal);
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/*nav*/
.main_header_nav {
    display: flex;
    align-items: center;
}

.main_header_nav_links {
    display: block !important;
}

.main_header_nav_links .link {
    display: inline-block;
    padding: 6px 12px;

    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: var(--weight-bold);
    font-size: var(--font-small);
}

.main_header_nav_links .link:hover {
    background: rgba(0, 0, 0, 0.5);
}

.main_header_nav_links .login {
    background: var(--hover-color-green);
}

/*mobile*/
.main_header_nav_mobile,
.main_header_nav_mobile_close {
    display: none;
}

/*CONTENT*/

/*home featured*/
.home_featured {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-bottom: 60px;
}

.home_featured:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: var(--index-back);
    background: url("../images/home-featured.jpg") top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home_featured_content {
    padding: 80px 0 0 0;
}

.home_featured_header {
    width: 660px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.home_featured_header h1 {
    font-size: 3em;
    font-weight: var(--weight-bold);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.home_featured_header p {
    margin: 30px 0 50px 0;
    font-weight: var(--weight-normal);
    font-size: var(--font-medium);
}

.home_featured_header .features {
    font-size: var(--font-small);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.home_featured_btn {
    cursor: pointer;
    display: inline-block;
    padding: 30px;
    text-transform: uppercase;
    font-weight: var(--weight-black);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.home_featured_app {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: var(--index-fold);
}

.home_featured_app img {
    max-width: 90%;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.home_featured_app:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #ffffff;
    z-index: var(--index-back);
}

/*home features*/
.home_features_header {
    text-align: center;
    margin: 20px 0 40px 0;
    color: #555555;
}

.home_features_header p {
    margin-top: 10px;
}

.home_features_content {
    display: flex;
}

.home_features_content article {
    border-top: 3px solid #ffffff;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 30px;
    text-align: center;
}

.home_features_content article.active,
.home_features_content article:hover {
    border-top: 3px solid var(--color-green);
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.home_features_content article img {
    width: 60%;
}

.home_features_content article h3 {
    margin: 20px 0 10px 0;
    font-size: var(--font-medium);
    font-weight: var(--weight-normal);
}

.home_features_content article p {
    font-size: var(--font-small);
}

/*optin*/
.home_optin {
    background: #FBFBFB;
}

.home_optin_content {
    display: flex;
    align-items: flex-start;
    color: #555555;
}

.home_optin_content_flex {
    flex-basis: 50%;
    padding: 20px;
}

.home_optin_content_flex .icon {
    display: block;
    text-align: center;
    font-size: 5em;
    color: var(--hover-color-green);
}

.home_optin_content header h2 {
    margin-top: 10px;
    font-size: 2em;
    font-weight: var(--weight-bold);
}

.home_optin_content header p {
    margin-top: 30px;
    font-size: var(--font-medium);
}

.home_optin_content h4 {
    font-size: var(--font-medium);
    text-align: center;
    margin-bottom: 30px;
}

.home_optin_content form input {
    display: block;
    width: 100%;
    font-size: var(--font-small);
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    -webkit-border-radius: var(--radius-normal);
    -moz-border-radius: var(--radius-normal);
    border-radius: var(--radius-normal);
}

.home_optin_content form button {
    cursor: pointer;
    border: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: var(--font-medium);
    font-weight: var(--weight-black);
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

/*BLOG*/
.blog_content {
    padding-bottom: 0;
}

.blog_header {
    text-align: center;
    margin-bottom: 30px;
    color: #555555;
}

.blog_header h2 {
    font-size: 2em;
    font-weight: var(--weight-light);
}

.blog_header p {
    margin-top: 10px;
}

.blog_articles {
    display: flex;
    flex-wrap: wrap;
}

.blog_article {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
    color: #555555;
}

.blog_article img {
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    border-bottom: 3px solid #E9E9E9;
}

.blog_article:hover img {
    border-color: var(--color-green);
}

.blog_article h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.blog_article .meta {
    font-size: var(--font-small);
    font-weight: var(--weight-light);
}

.blog_article p {
    font-size: var(--font-small);
    margin: 20px 0;
}

.blog_article a {
    text-decoration: none;
    color: #555555;
}

.blog_article a:hover {
    text-decoration: underline;
}

/*video*/
.home_video {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

.home_video:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../images/home-featured.jpg") top center;
    background-size: cover;
    background-attachment: fixed;
    z-index: var(--index-back);
}

.home_video_content {
    color: #ffffff;
    text-align: center;
    padding: 80px 0;
}

.home_video_content h2 {
    font-weight: var(--weight-light);
    font-size: 2em;
}

.home_video_content span {
    cursor: pointer;
    font-size: 6em;
    margin-top: 15px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}

.home_video_content span:hover {
    color: var(--hover-color-green);
}

.home_video_modal {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--index-modal);
}

.home_video_modal_box {
    margin: auto;
    width: 800px;
    max-width: 90%;
}

/*opt out*/
.footer_optout {
    background: url("../images/footer-bg.jpg") top center no-repeat;
    background-size: cover;
    padding-top: 20px;
    margin-top: 40px;
}

.footer_optout_content {
    text-align: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer_optout .icon {
    font-size: 5em;
    color: #555555;
}

.footer_optout h2 {
    font-size: 2em;
    font-weight: var(--weight-black);
    color: #555555;
}

.footer_optout p {
    margin: 20px 0 40px;
}

.footer_optout_btn {
    display: inline-block;
    cursor: pointer;
    padding: 15px 40px;
    font-size: var(--font-medium);
    color: #ffffff;
    font-weight: var(--weight-black);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

/*MAIN FOOTER*/
.main_footer {
    background: #E9E9E9;
}

.main_footer_content {
    display: flex;
}

.main_footer_content article {
    flex-basis: 25%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #555555;
}

.main_footer_content article h2 {
    font-size: var(--font-medium);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.main_footer_content article p,
.main_footer_content article a {
    font-size: var(--font-small);
    display: block;
    margin-top: 10px;
}

.main_footer_content article a {
    color: var(--color-green);
    font-weight: var(--weight-bold);
    text-decoration: none;
    transition-duration: var(--hover-duration);
}

.main_footer_content article a:hover {
    color: var(--hover-color-green);
}

.main_footer_content article a:before {
    color: #ffffff;
    background-image: var(--gradient-green);
    background-size: 200%;
    padding: 6px;
    -webkit-border-radius: var(--radius-round);
    -moz-border-radius: var(--radius-round);
    border-radius: var(--radius-round);
    transition-duration: var(--hover-duration);
}

.main_footer_content article a:hover:before {
    background-position: right center;
}

.main_footer_content .social a {
    display: block;
    margin-bottom: 20px;
}

/*NOT FOUND PAGE 404*/
.not_found {
    text-align: center;
    color: #555555;
}

.not_found .error {
    font-size: 8em;
    font-weight: var(--weight-light);
    color: #cccccc;
    margin-bottom: 40px;
}

.not_found_header {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.not_found p a {
    color: var(--color-green);
    text-decoration: none;
    font-weight: var(--weight-bold);
}

.not_found p a:hover {
    text-decoration: underline;
}

.not_found_btn {
    display: inline-block;
    margin-top: 60px;
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    font-weight: var(--weight-bold);
}

/*ABOUT PAGE*/
.about_header {
    text-align: center;
    width: 800px;
    max-width: 100%;
    margin: 0 auto 40px auto;
    color: #555555;
}

.about_header h1 {
    font-size: 2em;
    font-weight: var(--weight-light);
}

.about_page_steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about_page_steps article {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    padding: 30px;
    color: #555555;
}

.about_page_steps article .icon {
    display: inline-block;
    padding: 15px 20px;
    background: var(--gradient-green);
    font-size: 2em;
    color: #ffffff;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    background-size: 200%;
}

.about_page_steps article h3 {
    margin: 20px 0 0 0;
    font-size: var(--font-medium);
    font-weight: var(--weight-normal);
}

.about_page_steps article p {
    line-height: 1.4;
    margin-top: 15px;
}

/*media*/
.about_page_media {
    position: relative;
}

.about_page_media:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    background: var(--gradient-green);
    background-size: 200%;
    z-index: var(--index-back);
}

.about_media_video {
    width: 860px;
    max-width: 90%;
    margin: 0 auto;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    overflow: hidden;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

/*cta*/
.about_page_cta {
    background: var(--gradient-green);
    background-size: 200%;
    text-align: center;
}

.about_page_cta_content {
    width: 600px;
    max-width: 100%;
}

.about_page_cta_content p {
    margin: 20px 0;
}

.about_page_cta_btn {
    display: inline-block;
    padding: 20px 40px;
    background: var(--hover-color-green);
    cursor: pointer;
    font-size: var(--font-medium);
    font-weight: var(--weight-black);
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    text-decoration: none;
}

.about_page_cta_btn:hover {
    background: var(--color-green);
}

/*faq*/
.faq_header {
    text-align: center;
    margin-bottom: 30px;
}

.faq_header h3 {
    font-size: 2em;
    font-weight: var(--weight-light);
    margin-bottom: 20px;
}

.faq_asks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.faq_ask {
    flex-basis: calc(50% - 30px);
    cursor: pointer;
    padding: 20px;
    margin: 15px;
    border: 1px solid #cccccc;
    border-bottom: 3px solid var(--color-green);
    color: var(--color-default);
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
}

.faq_ask h4 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
}

.faq_ask p {
    font-size: var(--font-small);
}

.faq_ask a {
    color: var(--color-green);
    font-weight: var(--weight-bold);
    text-decoration: none;
}

.faq_ask a:hover {
    text-decoration: underline;
}

.faq_ask_coll {
    display: none;
}

/*BLOG PAGE*/
.blog_page_header {
    text-align: center;
    padding: 40px;
    background: var(--gradient-green);
    background-size: 200%;
}

.blog_page_header h1 {
    font-size: 3em;
    color: rgba(0, 0, 0, 0.4);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
}

.blog_page_header p {
    width: 700px;
    max-width: 100%;
    margin: 20px auto 30px auto;
}

.blog_page_header form {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

.blog_page_header form label {
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    -webkit-border-radius: var(--radius-large);
    -moz-border-radius: var(--radius-large);
    border-radius: var(--radius-large);
    overflow: hidden;
}

.blog_page_header form input {
    flex-basis: 100%;
    padding: 12px 12px 12px 20px;
    font-size: var(--font-normal);
    border: none;
    background: #ffffff;
    outline: none;
    color: #555555;
}

.blog_page_header form button {
    padding: 0 20px 0 0;
    font-size: var(--font-medium);
    border: none;
    cursor: pointer;
    outline: none;
    color: #555555;
}

/*POST PAGE*/
.post_page_hero {
    width: 860px;
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.post_page_header {
    position: relative;
    text-align: center;
}

.post_page_header h1 {
    font-size: 2.4em;
    font-weight: var(--weight-normal);
    margin: 30px 0;
    color: #FBFBFB;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.post_page_header:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    background: var(--gradient-green);
    background-size: 200%;
    z-index: var(--index-back);
}

.post_page_cover {
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    border-bottom: 3px solid var(--color-green);
}

.post_page_content {
    width: 860px;
    max-width: 90%;
    margin: 0 auto;
}

.post_page_meta {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    color: #555555;
}

.post_page_meta .author {
    display: flex;
    align-items: center;
}

.post_page_meta .author .name {
    padding-left: 10px;
}

.post_page_meta .author img {
    width: 40px;
    -webkit-border-radius: var(--radius-round);
    -moz-border-radius: var(--radius-round);
    border-radius: var(--radius-round);
}

.post_page_related.content {
    padding-bottom: 0;
}

.post_page_related_header {
    text-align: center;
    color: #555555;
    margin-bottom: 30px;
}

.post_page_related header h4 {
    font-size: 3em;
    font-weight: var(--weight-light);
}

.post_page_related header p {
    margin-top: 10px;
    font-size: var(--font-small);
}

/*AUTH IN*/
.auth_content {
    color: #555555;
}

.auth_content a {
    font-weight: var(--weight-bold);
    color: var(--color-green);
    text-decoration: none;
    transition: var(--hover-duration);
}

.auth_content a:hover {
    color: var(--hover-color-green);
}

.auth_header {
    text-align: center;
    margin-bottom: 50px;
}

.auth_header h1 {
    font-size: 2.4em;
    font-weight: var(--weight-light);
}

.auth_form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.auth_form_label{
    display: flex;
}

.auth_form_label label{
    width: calc(50% - 10px);
}

.auth_form_label label:last-of-type{
    margin-left: 20px;
}

.auth_form label {
    display: block;
    margin-top: 30px;
}

.auth_form label div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
    font-size: var(--font-small);
    font-weight: var(--weight-bold);
}

.auth_form label input {
    color: #555555;
    display: block;
    width: 100%;
    font-size: var(--font-normal);
    padding: 15px 20px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: var(--radius-medium);
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
}

.auth_form .check {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px 0 30px 0;
    font-size: var(--font-small);
    transition: var(--hover-duration);
}

.auth_form .check:hover {
    color: #000000;
}

.auth_form .check input {
    width: auto;
    font-size: var(--font-large);
    margin-right: 10px;
    display: inline-block;
}

.auth_form_btn {
    display: block;
    width: 100%;
    border: none;
    padding: 15px;
    font-size: var(--font-medium);
    color: #ffffff;
    font-weight: var(--weight-black);
    cursor: pointer;
    -webkit-border-radius: var(--radius-medium);
    -moz-border-radius: var(--radius-medium);
    border-radius: var(--radius-medium);
    margin-top: 30px;
}

/*TERMS PAGE*/
.terms_page_header {
    text-align: center;
    padding: 50px 40px;
    background: var(--gradient-green);
    background-size: 200%;
    color: #ffffff;
}

.terms_page_header h1 {
    font-size: 2em;
    font-weight: var(--weight-bold);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.terms_page_header p {
    margin-top: 10px;
    font-weight: var(--weight-black);
    color: rgba(0, 0, 0, 0.4);
}

.terms_page_content {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0 0 0;
}

/*OPTIN PAGES*/
.optin_page {

}

.optin_page_content {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    color: var(--color-default);
    text-align: center;
}

.optin_page_content img {
    width: 400px;
    max-width: 100%;
}

.optin_page_content h1 {
    font-size: 2.3em;
    font-weight: var(--weight-bold);
}

.optin_page_content p {
    margin: 20px 0;
    font-size: 1.1em;
}

.optin_page_btn {
    display: inline-block;
    padding: 20px 40px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: var(--weight-bold);
    text-decoration: none;
    font-size: 1.4em;
}

@media (max-width: 62em) {
    .main_header_logo {
        font-size: 0.8em;
    }

    .main_header_nav {
        text-align: center;
    }

    .main_header_nav_mobile {
        display: block;
        font-size: var(--font-medium);
        cursor: pointer;
        padding: 4px 8px;
        background: rgba(0, 0, 0, 0.3);
    }

    .main_header_nav_mobile:hover {
        background: rgba(0, 0, 0, 0.6);
    }

    .main_header_nav_mobile_close {
        cursor: pointer;
        display: block;
        padding: 10px;
        color: var(--color-red);
        font-size: 2em;
    }

    .main_header_nav_mobile_close:hover {
        color: var(--hover-color-red);
    }

    .main_header_nav_links {
        display: none;
        position: fixed;
        z-index: var(--index-menu);
        left: 100%;
        top: 0;
        background: #ffffff;
        width: 300px;
        height: 100%;
        max-width: 80%;
        padding: 20px;
        border-left: 1px solid #E9E9E9;
    }

    .main_header_nav_links .login,
    .main_header_nav_links .link {
        background: none;
        display: block;
        color: #555555;
        padding: 10px;
        transition-duration: 0s;
    }

    .main_header_nav_links .link:hover {
        color: #ffffff;
        background: #ffffff;
        background-image: var(--gradient-green);
    }

    .main_footer_content {
        flex-wrap: wrap;
        text-align: center;
    }

    .main_footer_content article {
        flex-basis: 50%;
    }

    .blog_article {
        flex-basis: calc(50% - 40px);
    }

    .faq_ask {
        flex-basis: 100%;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 52em) {
    .home_featured_header {
        font-size: 0.8em;
    }

    .home_features_content {
        flex-wrap: wrap;
    }

    .home_features_content article {
        flex-basis: 100%;
    }

    .home_optin_content {
        flex-wrap: wrap;
        text-align: center;
    }

    .home_optin_content_flex {
        flex-basis: 100%;
    }

    .about_page_steps article {
        flex-basis: 100%;
        margin: 20px 0 0 0;
    }

    .post_page_meta {
        display: none;
    }

    .social_share {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social_share_title {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .post_page_header h1 {
        font-size: 1.8em;
    }

    .post_page_hero {
        padding: 10px 0 0 0;
    }
}

@media (max-width: 32em) {
    .main_footer_content article {
        flex-basis: 100%;
    }

    .blog_article {
        text-align: center;
        flex-basis: calc(100% - 40px);
    }

    .optin_page_content h1 {
        font-size: 1.8em;
    }
}